@*Page allows user to click a button and claim a specific job. page is showen after specific job is clicke on index.
Ajax will be added to this page so it is displayed when user clicks to claim job on index page*@ 

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <input type="submit" value="Claim This Job" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>